body {
	background-image: url("../assets/bg.png");
	background-repeat: no-repeat;
	background-position: right;
}


#logo {
	margin-top: 50px;
	margin-bottom: 400px;
}

@media(max-width:767px){
	#logo {
	margin-bottom: 200px;
}
}




